<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/product.css">
    <title>Our Products</title>
</head>
<body>
    <%- include('../components/header') %>
    <main class="container">
        <h1>Our array of products won't make you disappointed.</h1>
        <section>
            <h1>All Products</h1>
            <section class="all-products" id="all-products">
            <% products.forEach(function(product) { %>
                <div class="col">
                    <img src="<%= product.image %>" alt="<%= product.name %>">
                    <h3><%= product.name %></h3>
                    <p>Price: $<%= product.price ? product.price.toFixed(2) : 'N/A' %></p>
                    <p>Rating: <%= product.rating %></p>
                    <p><strong>Description:</strong> <%= product.description %></p>
                </div>
            <% }); %>
        </section>
        </section>
    </main>
    <footer>
        <div class="topnav">
            <a href="">About our Company</a>
            <a>Copyright Information</a>
            <a>Privacy Policy</a>
        </div>
    </footer>

    <script src="/js/script.js"></script>
</body>
</html>