<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/productdetail.css">
    <title>Document</title>
</head>
<body>
    <%- include('../components/header') %>
    <main class="container">
        <% if (product && product.id) { %>
            <div class="product-img">
                    
                    <img src="data:image/png;base64,<%= product.image %>" alt="<%= product.name %>">
                
            </div>
            <div class="product-detail">
                    <div class="product-type"><%= product.type %></div>
                    <div class="product_name"><%= product.name %></div>
                    <div class="product-description"><%= product.description %></div>
                    <div class="product-rating">Rating:<%= product.rating %></div>
                    <div>
                    <div>a</div>
                    <div>a</div>
                    <div class="product-price">$<%= product.price %></div>
                    <button class="cart-btn">Add to cart</button>
                    </div>
            </div>
        <% } else { %>
            <p>Product not found</p>
        <% } %>
    </main>
    <footer>
        <div class="topnav">
            <a href="">About our Company</a>
            <a>Copyright Information</a>
            <a>Privacy Policy</a>
        </div>
    </footer>

</body>
</html>