<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/product.css">
    <title>Our Products</title>
</head>
<body>
    <%- include('../components/header') %>
    <div class="container">
        <div class="header-section">
            <h1>All Products</h1>
            <a href="/basket">
                <div class="cart-container">
                    <img src="/images/cart.png" alt="cart" class="cartimage">
                    <img src="/images/red.png" alt="reddot" class="reddot">
                </div>
            </a>
        </div>
        <section class="all-products" id="all-products">
            <% products.forEach(function(product) { %>
                <div class="col">
                    <img src="data:image/png;base64,<%= product.image %>" alt="<%= product.name %>" class="product-image">
                    <h3><%= product.name %></h3>
                    <p>Price: $<%= product.price ? product.price.toFixed(2) : 'N/A' %></p>
                    <p>Rating: <%= product.rating %></p>
                    <!-- <p><strong>Description:</strong> <%= product.description %></p> -->
                    <button onclick="addToBasket('<%= product._id %>', '<%= product.name %>', '<%= product.price %>','data:image/png;base64,<%= product.image %>', 1)">Add this product</button>
                </div>
            <% }); %>
        </section>
    </div>

    <script src="/js/product.js"></script>
</body>
</html>