<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" type="text/css" href="/css/productdetail.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
</head>
<body>
    <%- include('../components/header') %>
    <div class="product-container">
        <img src="data:image/png;base64,<%= product.image %>" alt="<%= product.name %>" class="product-image">
        <div class="product-details">
            <h1><%= product.name %></h1>
            <p>Type: <%= product.type %></p>
            <p>Price: <%= product.price %>$</p>
            <p>Quantity: <%= product.quantity %></p>
            <p>Rating: <%= product.rating %><img src="/images/star.png" alt="star" class="star"></p>
            <p>Description: <%= product.description %></p>
            <button onclick="addToBasket('<%= product._id %>', '<%= product.name %>', '<%= product.price %>','data:image/png;base64,<%= product.image %>', 1)">Add this product</button>
            <div id="notification"></div>
        </div>
    </div>
    <div class="similar-products-section">
        <h2>You may also like:</h2>
        <div class="similar-products-container">
            <% similarProducts.forEach(similarProduct => { %>
                <div class="similar-product">
                    <a href="/product/<%= similarProduct._id %>" class="no-decoration">
                        <img class="similar-product-image" src="data:image/png;base64,<%= similarProduct.image %>" alt="<%= similarProduct.name %>">
                        <h3><%= similarProduct.name %></h3>
                        <p>Price: <%= similarProduct.price %>$</p>
                        <p>Rating: <%= similarProduct.rating %><img src="/images/star.png" alt="star" class="star"></p>
                    </a>
                    </div>
            <% }); %>
        </div>
    </div>
    

    <script src="/js/productdetail.js"></script>
</body>
</html>