<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/shipper.css">
    <title><%= pageTitle %></title>
</head>
<body>
    <%- include('../components/header') %>
    <div class="components">
        <div class="ordercontainer">
            <h1>Orders</h1>
            <% if (orders.length > 0) { %>
                <% orders.forEach(order => { %>
                    <div class="orderdetail">
                        <div class="orderinfo">
                            <p>Customer name: <%= order.customername %></p>
                            <p>Product: <%= order.products %></p>
                            <p>Address: <%= order.address %></p>
                            <p>Order status: <%= order.status %></p>
                        </div>
                        <form action="/completeOrder" method="POST">
                            <!-- Add a hidden input field to store the orderId -->
                            <input type="hidden" name="orderId" value="<%= order._id %>">
                            <button type="submit">Mark as Completed</button>
                        </form>
                    </div>
                <% }) %>
            <% } else { %>
                <p>No orders available.</p>
            <% } %>
        </div>
        <div class="usercontainer">
            <h1>Welcome back, <%= user.username %></h1>
            <img src="/images/icon.png">
            <form action="/logout" method="GET">
                <button type="submit">Logout</button>
            </form>
        </div>
    </div>
</body>
</html>